@tailwind base;
@tailwind components;
@tailwind utilities;

.loginBg{
    background-image: url(/loginBg.png);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
    
}

.textOverflow{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.VideoSkeleton{
    animation: VideoSkeleton 0.2s ease-in-out infinite alternate ;
}
@keyframes VideoSkeleton {
    0%{
        opacity: 2;
    }
    25%{
        opacity: 0.8;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.4;
    }
    100%{
        opacity: 0.2;
    }
}