@tailwind base;
@tailwind components;
@tailwind utilities;

.loginBg{
    background-image: url(/loginBg.png);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
    
}

.textOverflow{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}